    <!-- NAVBAR STARTS -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top py-1">
        <div class="container d-flex justify-content-space-between align-items-center py-1">
            <a href="#" class="navbar-brand text-white">
                <i class="far fa-sticky-note "></i>
                Notes
            </a>
    
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MyNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="MyNav">
                <ul class="navbar-nav ms-auto">
                    <li *ngIf="!isLogin" class="nav-item">
                        <a routerLink="sign-in" class="nav-link">
                            Sign In
                        </a>
                    </li>
                    <li *ngIf="!isLogin"  class="nav-item">
                        <a routerLink="sign-up" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                    <li *ngIf="isLogin"  class="nav-item">
                        <a routerLink="sign-in" class="nav-link" (click) = 'logOut()'>
                            Log Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR ENDS --> 
